<div class="container navbar">
  <div class="row">
    <div class="eleven columns">
      <h5 class="title">ember-sparkles</h5>
    </div>
    <div class="one columns">
      <a href="https://github.com/LocusEnergy/ember-sparkles" target="_blank">source</a>
    </div>
  </div>
</div>

<div class="container graphics">
  <div class="row graphics">
    <div class="two columns">
      <div class="side-menu">
        <ul>
          <li>
            {{link-to 'Simple Bars' 'bar-chart'}}
          </li>
          <li>
            {{link-to 'Grouped Bars' 'grouped-bar-chart'}}
          </li>
          <li>
            {{link-to 'Lines' 'line-chart'}}
          </li>
          <li>
            {{link-to 'Pie' 'pie-chart'}}
          </li>
          <li>
            {{link-to 'Data Join I' 'data-join'}}
          </li>
          <li>
            {{link-to 'Sine Wave' 'sine-wave'}}
          </li>
        </ul>
      </div>

    </div>
    <div id="svg-container" class="ten columns">

      {{outlet}}

    </div>
  </div>
</div>
