<div class="container navbar">
  <div class="row">
    <div class="twelve columns">
      <h4>ember-sparkles</h4>
    </div>
  </div>
</div>

<div class="container graphics">
  <div class="row graphics">
    <div class="three columns">
      <div class="side-menu">
        <ul>
          {{!-- <li>
            {{link-to 'Simple Bar Chart' 'bar-chart'}}
          </li> --}}
          <li>
            {{link-to 'Grouped Bar Chart' 'grouped-bar-chart'}}
          </li>
          {{!-- <li>
            {{link-to 'Line Chart' 'line-chart'}}
          </li>
          <li>
            {{link-to 'Pie Chart' 'pie-chart'}}
          </li> --}}
        </ul>
      </div>

    </div>
    <div id="svg-container" class="nine columns">

      {{outlet}}

    </div>
  </div>
</div>
