{{!-- BEGIN-SNIPPET bar-chart-example --}}

{{#ember-sparkles
  data=data
  input-key='ts'
  output-key='value'

  scale-type='band'
  x-domain=(map (r/get 'ts') data)
  y-domain=(append 0 outputMax)

  as |chart|}}

  {{chart.x-axis
    tick-format=(d3-time-format '%Y-%m-%d')
    label='Date (Y-M-D)'
    dy=(add chart.height 30)
    dx=-100
  }}

  {{chart.y-axis
    label='Watts'
    ticks=5
    yGrid=true
    dx=(mult -0.5 chart.height)
    dy=-30
  }}

  {{chart.bar-chart}}

{{/ember-sparkles}}

{{!-- END-SNIPPET --}}

<button {{action (throttle (action "toggleData") 520)}}>toggle</button>

<h5>htmlbars</h5>
{{code-snippet name="bar-chart-example.hbs" unindent=false}}

<h5>javascript</h5>
{{code-snippet name="bar-chart-example.js" unindent=false}}
