<div class="row">
  <div class="twelve columns">
    <svg class="data-join-example" width={{svgDimension}} height={{svgDimension}}>
      <rect width="100%" height="100%" fill="#f8f8f8"/>

      {{#let (e-s/transition duration=duration data=data) as |transition|}}
        {{#d3-graph as |d3|}}

          {{!-- static grid --}}
          {{d3.graph (pipe
            (d3-select-all 'rect')
            (d3-data grid)
            (d3-join
              enter=(pipe
                (d3-append 'rect')
                (d3-attr 'x' (r/get 'x'))
                (d3-attr 'y' (r/get 'y'))
                (d3-attr 'width' 1)
                (d3-attr 'height' 1)
                (d3-style 'fill' '#c0c0c0')
              )
            )
          )}}

          {{!-- dynamic circles --}}
          {{d3.graph (pipe
            (d3-select-all 'circle')
            (d3-data data (r/get 'idx'))
            (d3-join
              enter=(pipe
                (d3-append 'circle')
                (d3-attr 'cx' (r/get 'x'))
                (d3-attr 'cy' (r/get 'y'))
                (d3-attr 'r' 0)
                (d3-style 'fill' '#ffe600')
                (d3-attr 'opacity' 0)
                (d3-transition transition)
                (d3-attr 'r' (r/get 'radius'))
                (d3-style 'fill' '#f05a28')
                (d3-attr 'opacity' 0.89)
              )

              update=(pipe
                (d3-transition transition)
                (d3-style 'fill' '#b9006e')
                (d3-attr 'r' (r/get 'radius'))
              )

              exit=(pipe
                (d3-transition transition)
                (d3-style 'fill' '#3a0256')
                (d3-attr 'r' 0)
                (d3-remove)
              )
            )
          )}}



        {{/d3-graph}}
      {{/let}}

    </svg>
  </div>
</div>

{{!-- <button {{action (throttle (action "toggleData") 100)}}>Toggle Data</button> --}}
