{{!-- BEGIN-SNIPPET grouped-bar-chart-example --}}

{{#ember-sparkles
  data=barData
  input-key='ts'
  output-key='W'
  group-key='name'
  value-key='value'

  x-scale-type='band'
  y-scale-type='linear'

  x-domain=(map (r/get 'ts') barData)
  y-domain=(append 0 outputMax)
  group-domain=groupDomain

  transition-duration=transitionDuration
as |chart|}}

  {{chart.bottom-axis
    tick-format=(d3-time-format '%Y-%m-%d')
    label='Date (Y-M-D)'
    dy=(add chart.height 30)
    dx=-100
  }}

  {{chart.left-axis
    label='Watts'
    ticks=5
    tick-format=(d3-format '.2s')
    gridlines=true
    dx=(mult -0.5 chart.height)
    dy=-30
  }}

  {{chart.grouped-bar-chart}}

  {{chart.legend
    dx=(sub chart.width 20)
    dy=20
    text-dx=18
    shape='rect'
    shape-spacing=19
    shape-size=15
  }}

{{/ember-sparkles}}

{{!-- END-SNIPPET --}}

<button {{action (throttle (action "toggleData") (add transitionDuration 20))}}>toggle</button>

<h5>htmlbars</h5>
{{code-snippet name="grouped-bar-chart-example.hbs" unindent=false}}

<h5>javascript</h5>
{{code-snippet name="grouped-bar-chart-example.js" unindent=false}}
