{{!-- BEGIN-SNIPPET grouped-bar-chart-example --}}

{{#ember-sparkles
  data=barData
  inputKey='ts'
  outputKey='W'
  groupKey='name'
  valueKey='value'

  x-scale-type='band'
  y-scale-type='linear'
  color-scale-type='20c'

  x-domain=(map (r/get 'ts') barData)
  y-domain=(append 0 outputMax)
  group-domain=groupDomain

  transition-duration=transitionDuration
as |chart|}}

  {{chart.x-axis
    tick-format='%Y-%m-%d'
    label='Date (Y-M-D)'
    dy=(add chart.height 30)
    dx=-100
  }}

  {{chart.y-axis
    label='Watts'
    ticks=5
    yGrid=true
    dx=(mult -0.5 chart.height)
    dy=-30
  }}

  {{chart.grouped-bar-chart}}

  {{chart.legend
    dx=(sub chart.width 5)
    dy=20
    shape='rect'
    shape-spacing=17
    shape-size=15
  }}

{{/ember-sparkles}}

{{!-- END-SNIPPET --}}

<button {{action (throttle (action "toggleData") (add transitionDuration 20))}}>Toggle Data</button>

<h4>example</h4>

<h5>glimmer</h5>
{{code-snippet name="grouped-bar-chart-example.hbs" unindent=false}}

<h5>javascript</h5>
{{code-snippet name="grouped-bar-chart-example.js" unindent=false}}
