{{!-- BEGIN-SNIPPET pie-chart-example --}}

{{#ember-sparkles
  data=pieData
  output-key='sites'
  group-key='name'
  arc-threshold=arcThreshold
  arc-precision=2
  group-domain=(map-by 'name' pieData)
  as |chart|}}

  {{chart.pie-chart}}

  {{chart.legend
    shape='circle'
    dx=chart.width
    shape-spacing=30
    shape-size=10
    text-dx=18
    text-dy=4
  }}
{{/ember-sparkles}}

{{!-- END-SNIPPET --}}

{{!-- {{input type="number" id="number" name="number" value=arcThreshold}} --}}

<button {{action (throttle (action "toggleData") 500)}}>toggle</button>

<h5>htmlbars</h5>
{{code-snippet name="pie-chart-example.hbs" unindent=false}}

<h5>javascript</h5>
{{code-snippet name="pie-chart-example.js" unindent=false}}
