{{!-- BEGIN-SNIPPET sine-wave-example --}}

{{#ember-sparkles
  classNames="sine-wave"
  data=wave
  input-key='x'
  output-key='y'
  x-domain=(array 0 xMax)
  y-domain=(array -1.5 1.5)
  transition-duration=(sub speed 4)
  as |chart|}}

  {{#let
    (div chart.height 2)
    (compute chart.y-scale 0.5)
  as |mid radius|}}

  {{#let
    (array (hash cx=(mult radius rotatorX) cy=(mult radius rotatorY)))
  as |unitCircle|}}

  <line class="horizon" x1=0 x2={{chart.width}} y1={{mid}} y2={{mid}}></line>
  <g transform="translate({{sub chart.width radius}},0)">

    <circle cx="0" cy={{mid}} r={{radius}} />
    <g transform="translate(0,{{mid}})">
      {{proto/d3-element
        element-name='line'
        selector='connector'
        data=unitCircle
        transition=chart.transition
        element-attrs=(pipe
          (d3-attr 'x1' (r/get 'cx'))
          (d3-attr 'x2' (sub mid (div radius 2)))
          (d3-attr 'y1' (r/get 'cy'))
          (d3-attr 'y2' (r/get 'cy'))
        )
      }}

      {{proto/d3-element
        element-name='line'
        classNames='triangle'
        selector='triangle__height'
        data=unitCircle
        transition=chart.transition
        element-attrs=(pipe
          (d3-attr 'x1' (r/get 'cx'))
          (d3-attr 'x2' (r/get 'cx'))
          (d3-attr 'y1' 0)
          (d3-attr 'y2' (r/get 'cy'))
        )
      }}

      {{proto/d3-element
        element-name='line'
        classNames='triangle'
        selector='triangle__base'
        data=unitCircle
        transition=chart.transition
        element-attrs=(pipe
          (d3-attr 'x1' 0)
          (d3-attr 'x2' (r/get 'cx'))
          (d3-attr 'y1' 0)
          (d3-attr 'y2' 0)
        )
      }}

      {{proto/d3-element
        element-name='line'
        classNames='triangle'
        selector='triangle__hypotenuse'
        data=unitCircle
        transition=chart.transition
        element-attrs=(pipe
          (d3-attr 'x1' 0)
          (d3-attr 'x2' (r/get 'cx'))
          (d3-attr 'y2' (r/get 'cy'))
        )
      }}

      {{proto/d3-element
        element-name='circle'
        selector='rotator'
        data=unitCircle
        transition=chart.transition
        element-attrs=(pipe
          (d3-attr 'cx' (r/get 'cx'))
          (d3-attr 'cy' (r/get 'cy'))
          (d3-attr 'r' 3)
        )
      }}

      {{!-- {{#d3-graph as |d3|}}
        {{#let (d3-arc (sub radius 10) 0) as |arc|}}
        {{d3.graph (pipe


        )}}
        {{/let}}
      {{/d3-graph}} --}}
    </g>

  </g>

    {{chart.y-axis x-translate=chart.width ticks=4}}

    {{proto/d3-element
      element-name='circle'
      selector='zero'
      classNames='sine-wave__zeros'
      data=zeros
      transition=chart.transition
      element-attrs=(pipe
        (d3-attr 'cy' mid)
        (d3-attr 'cx' (pipe (r/get 'x') chart.x-scale))
        (d3-attr 'r' 4)
      )
      exit-transition=(pipe
        (d3-attr 'r' 0)
      )
    }}

    {{chart.line-chart}}

  {{/let}}
  {{/let}}

{{/ember-sparkles}}

{{!-- END-SNIPPET --}}

<p>
  <em>
    sine waves plot the <code>y</code> coordinate of a point rotating on the circumference of a circle
  </em>
</p>

<p>
  <strong>&theta;</strong>
  {{angle}}°
</p>

<p>
  <button {{action 'start'}}>start</button>
  <button {{action 'stop'}}>stop</button>
</p>

<strong>speed</strong>
{{input type="range" min="5" max="100" value=speed}}


<h5>htmlbars</h5>
{{code-snippet name="sine-wave-example.hbs" unindent=false}}

<h5>javascript</h5>
{{code-snippet name="sine-wave-example.js" unindent=false}}
